html {
	font-size: 2em;	
}

.main {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: #AAA;
  text-align: center;
  padding: 2em;
}

.social {
	text-align: center;
}

#restaurant {
  color: #333;
}